.cont {

    align-items: center;
    margin-bottom: 15px;
    background-color: #000;
}

.contatContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: auto;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: #000;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    color: #ffa500;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
}

.subTitle {
    text-align: right;
    padding-right: 20px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between 2px;
    margin-bottom: 15px;
}

.iconeWrapper {
    cursor: pointer;
    display: inline-flex;
    /* Para alinhar corretamente se houver texto ao lado */
}

.iconeWrapper :global(svg) {
    /* Para atingir o SVG dentro do wrapper */
    transition: transform 0.2s ease-in-out;
}

.iconeWrapper:hover :global(svg) {
    transform: scale(1.1);
}

.botaoOrcamento {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    /* Cor verde do WhatsApp */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;

}

.botaoOrcamento:hover {
    background-color: #128C7E;
    /* Tom mais escuro no hover */
}

.iconeWhatsapp {
    margin-right: 10px;
    font-size: 1.2em;
}

.allcontats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Phone p {
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    .cont {
        margin-top: 15px;
    }

    .title {
        margin-top: 0px;
    }

}