.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;

    border-top: 1px solid white;
    color: #888;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;


}



@media (max-width:460) {
    .footer {
        margin-bottom: 45px;
    }
}