.containerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-top: 1px solid white;
    color: #888;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
}

.priv {
    color: #e59a00;
    text-decoration: underline;
}




@media (min-width:300) and (max-width:460) {
    .datasCompany {
        margin-bottom: 2cm;
    }

    .priv {
        color: #e59a00;
        text-decoration: underline;
    }


}
